arrow
aiohttp
dblpy
pymongo
dnspython
git+https://github.com/Rapptz/discord.py.git
git+https://github.com/BoseCorp/py-googletrans.git
git+https://github.com/bitly/bitly-api-python.git
git+https://github.com/Nekos-life/nekos.py.git
